**CREDIT CARD LEAD PREDICTION:**
Happy Customer Bank is a mid-sized private bank that deals in all kinds of banking products, like Savings accounts, Current accounts, investment products, credit products, among other offerings. The bank also cross-sells products to its existing customers and to do so they use different kinds of communication like tele-calling, e-mails, recommendations on net banking, mobile banking, etc. In this case, the Happy Customer Bank wants to cross sell its credit cards to its existing customers. The bank has identified a set of customers that are eligible for taking these credit cards. Now, the bank is looking for your help in identifying customers that could show higher intent towards a recommended credit card, given:

- Customer details (gender, age, region etc.)
- Details of his/her relationship with the bank (Channel_Code,Vintage, 'Avg_Asset_Value etc.)

**IMPORT THE LIBRARIES**

In [ ]:
import pandas as pd

In [ ]:
train=pd.read_csv('/content/train.csv')

In [ ]:
train.head()

         ID  Gender  Age  ... Avg_Account_Balance Is_Active Is_Lead
0  NNVBBKZB  Female   73  ...             1045696        No       0
1  IDD62UNG  Female   30  ...              581988        No       0
2  HD3DSEMC  Female   56  ...             1484315       Yes       0
3  BF3NC7KV    Male   34  ...              470454        No       0
4  TEASRWXV  Female   30  ...              886787        No       0

[5 rows x 11 columns]

In [ ]:
train.shape

(245725, 11)

In [ ]:
train.isnull().sum()

ID                         0
Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         29325
Avg_Account_Balance        0
Is_Active                  0
Is_Lead                    0
dtype: int64

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245725 entries, 0 to 245724
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   245725 non-null  object
 1   Gender               245725 non-null  object
 2   Age                  245725 non-null  int64
 3   Region_Code          245725 non-null  object
 4   Occupation           245725 non-null  object
 5   Channel_Code         245725 non-null  object
 6   Vintage              245725 non-null  int64
 7   Credit_Product       216400 non-null  object
 8   Avg_Account_Balance  245725 non-null  int64
 9   Is_Active            245725 non-null  object
 10  Is_Lead              245725 non-null  int64
dtypes: int64(4), object(7)
memory usage: 20.6+ MB

In [ ]:
train['Credit_Product'].unique()

array(['No', nan, 'Yes'], dtype=object)

In [ ]:
train.columns

Index(['ID', 'Gender', 'Age', 'Region_Code', 'Occupation', 'Channel_Code',
       'Vintage', 'Credit_Product', 'Avg_Account_Balance', 'Is_Active',
       'Is_Lead'],
      dtype='object')

In [ ]:
train.drop('ID',axis=1,inplace=True)

**DATA PREPROCESSING**

In [ ]:
categorical_var=['Gender', 'Region_Code', 'Occupation', 'Channel_Code','Credit_Product', 'Is_Active']

In [ ]:
for c in categorical_var :
  train[c] = pd.get_dummies(train[c])

In [ ]:
train

        Gender  Age  Region_Code  ...  Avg_Account_Balance  Is_Active  Is_Lead
0            1   73            0  ...              1045696          1        0
1            1   30            0  ...               581988          1        0
2            1   56            0  ...              1484315          0        0
3            0   34            0  ...               470454          1        0
4            1   30            0  ...               886787          1        0
...        ...  ...          ...  ...                  ...        ...      ...
245720       0   51            0  ...              1925586          1        0
245721       0   27            0  ...               862952          0        0
245722       1   26            0  ...               670659          1        0
245723       1   28            0  ...               407504          1        0
245724       0   29            0  ...              1129276          1        0

[245725 rows x 10 columns]

In [ ]:
 train['Credit_Product'].fillna((train['Credit_Product'].mean()),inplace=True)

In [ ]:
train['Credit_Product'].values

array([1, 1, 1, ..., 1, 1, 1], dtype=uint8)

In [ ]:
train.isnull().sum()

Gender                 0
Age                    0
Region_Code            0
Occupation             0
Channel_Code           0
Vintage                0
Credit_Product         0
Avg_Account_Balance    0
Is_Active              0
Is_Lead                0
dtype: int64

In [ ]:
train['Is_Lead'].value_counts()

0    187437
1     58288
Name: Is_Lead, dtype: int64

In [ ]:
train.head()

   Gender  Age  Region_Code  ...  Avg_Account_Balance  Is_Active  Is_Lead
0       1   73            0  ...              1045696          1        0
1       1   30            0  ...               581988          1        0
2       1   56            0  ...              1484315          0        0
3       0   34            0  ...               470454          1        0
4       1   30            0  ...               886787          1        0

[5 rows x 10 columns]

In [ ]:
y=train['Is_Lead']

In [ ]:
train.drop('Is_Lead',axis=1,inplace=True)

In [ ]:
train=train.to_numpy()

In [ ]:
y=y.to_numpy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=(train_test_split(train,y,test_size=0.30))

In [ ]:
X_train=X_train.reshape(X_train.shape[0],X_train.shape[1],1)
X_test=X_test.reshape(X_test.shape[0],X_test.shape[1],1)

In [ ]:
X_train.shape

(172007, 9, 1)

**CONVOLUTION NEURAL NETWORK MODEL**

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten,Dense,Dropout,BatchNormalization
from tensorflow.keras.layers import Conv1D
from tensorflow.keras.optimizers import Adam

In [ ]:
model=Sequential()
model.add(Conv1D(32,2,activation='relu',input_shape=X_train[0].shape))
model.add(BatchNormalization())
model.add(Dropout(0.2))

model.add(Conv1D(64,2,activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))

model.add(Flatten())
model.add(Dense(64,activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d (Conv1D)              (None, 8, 32)             96
_________________________________________________________________
batch_normalization (BatchNo (None, 8, 32)             128
_________________________________________________________________
dropout (Dropout)            (None, 8, 32)             0
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 7, 64)             4160
_________________________________________________________________
batch_normalization_1 (Batch (None, 7, 64)             256
_________________________________________________________________
dropout_1 (Dropout)          (None, 7, 64)             0
_________________________________________________________________
flatten (Flatten)            (None, 448)               0
_________________________________________________________________
dense (Dense)                (None, 64)                28736
_________________________________________________________________
dropout_2 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 65
=================================================================
Total params: 33,441
Trainable params: 33,249
Non-trainable params: 192
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=[tf.keras.metrics.AUC(),"accuracy"])

In [ ]:
res=model.fit(X_train,Y_train,epochs=50,validation_data=(X_test,Y_test),verbose=1)

Epoch 1/50
5376/5376 [==============================] - 62s 6ms/step - loss: 0.5293 - auc: 0.6373 - accuracy: 0.7614 - val_loss: 0.5073 - val_auc: 0.6737 - val_accuracy: 0.7625
Epoch 2/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.5178 - auc: 0.6573 - accuracy: 0.7629 - val_loss: 0.5039 - val_auc: 0.6640 - val_accuracy: 0.7625
Epoch 3/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.5172 - auc: 0.6597 - accuracy: 0.7629 - val_loss: 0.5041 - val_auc: 0.6720 - val_accuracy: 0.7625
Epoch 4/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.5157 - auc: 0.6609 - accuracy: 0.7630 - val_loss: 0.5038 - val_auc: 0.6749 - val_accuracy: 0.7625
Epoch 5/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.5150 - auc: 0.6636 - accuracy: 0.7638 - val_loss: 0.4995 - val_auc: 0.6807 - val_accuracy: 0.7625
Epoch 6/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.5124 - auc: 0.6687 - accuracy: 0.7648 - val_loss: 0.4988 - val_auc: 0.6789 - val_accuracy: 0.7656
Epoch 7/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.5420 - auc: 0.5622 - accuracy: 0.7632 - val_loss: 0.5459 - val_auc: 0.5522 - val_accuracy: 0.7625
Epoch 8/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.5118 - auc: 0.6763 - accuracy: 0.7629 - val_loss: 0.4317 - val_auc: 0.8028 - val_accuracy: 0.7647
Epoch 9/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4514 - auc: 0.7858 - accuracy: 0.7750 - val_loss: 0.4228 - val_auc: 0.8188 - val_accuracy: 0.7911
Epoch 10/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4460 - auc: 0.7923 - accuracy: 0.7811 - val_loss: 0.4205 - val_auc: 0.8194 - val_accuracy: 0.8031
Epoch 11/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4455 - auc: 0.7932 - accuracy: 0.7846 - val_loss: 0.4196 - val_auc: 0.8214 - val_accuracy: 0.7976
Epoch 12/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4448 - auc: 0.7941 - accuracy: 0.7857 - val_loss: 0.4278 - val_auc: 0.8209 - val_accuracy: 0.8007
Epoch 13/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4421 - auc: 0.7976 - accuracy: 0.7855 - val_loss: 0.4234 - val_auc: 0.8206 - val_accuracy: 0.7936
Epoch 14/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4405 - auc: 0.7990 - accuracy: 0.7879 - val_loss: 0.4248 - val_auc: 0.8211 - val_accuracy: 0.7944
Epoch 15/50
5376/5376 [==============================] - 30s 5ms/step - loss: 0.4443 - auc: 0.7947 - accuracy: 0.7870 - val_loss: 0.4392 - val_auc: 0.8063 - val_accuracy: 0.7823
Epoch 16/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4423 - auc: 0.7971 - accuracy: 0.7887 - val_loss: 0.4397 - val_auc: 0.8200 - val_accuracy: 0.7932
Epoch 17/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4425 - auc: 0.7966 - accuracy: 0.7888 - val_loss: 0.4294 - val_auc: 0.8164 - val_accuracy: 0.7914
Epoch 18/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4430 - auc: 0.7960 - accuracy: 0.7879 - val_loss: 0.4228 - val_auc: 0.8218 - val_accuracy: 0.7948
Epoch 19/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4421 - auc: 0.7972 - accuracy: 0.7888 - val_loss: 0.4252 - val_auc: 0.8221 - val_accuracy: 0.7980
Epoch 20/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4394 - auc: 0.8000 - accuracy: 0.7889 - val_loss: 0.4210 - val_auc: 0.8220 - val_accuracy: 0.7969
Epoch 21/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4298 - auc: 0.8085 - accuracy: 0.7916 - val_loss: 0.4208 - val_auc: 0.8217 - val_accuracy: 0.8036
Epoch 22/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4290 - auc: 0.8092 - accuracy: 0.7919 - val_loss: 0.4248 - val_auc: 0.8197 - val_accuracy: 0.7945
Epoch 23/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4293 - auc: 0.8089 - accuracy: 0.7922 - val_loss: 0.4201 - val_auc: 0.8224 - val_accuracy: 0.8029
Epoch 24/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4288 - auc: 0.8096 - accuracy: 0.7930 - val_loss: 0.4278 - val_auc: 0.8202 - val_accuracy: 0.7950
Epoch 25/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4283 - auc: 0.8101 - accuracy: 0.7924 - val_loss: 0.4231 - val_auc: 0.8206 - val_accuracy: 0.7960
Epoch 26/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4282 - auc: 0.8105 - accuracy: 0.7934 - val_loss: 0.4200 - val_auc: 0.8211 - val_accuracy: 0.7979
Epoch 27/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4282 - auc: 0.8101 - accuracy: 0.7934 - val_loss: 0.4222 - val_auc: 0.8203 - val_accuracy: 0.7947
Epoch 28/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4280 - auc: 0.8103 - accuracy: 0.7941 - val_loss: 0.4179 - val_auc: 0.8208 - val_accuracy: 0.7971
Epoch 29/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4278 - auc: 0.8104 - accuracy: 0.7948 - val_loss: 0.4251 - val_auc: 0.8206 - val_accuracy: 0.7990
Epoch 30/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4277 - auc: 0.8105 - accuracy: 0.7939 - val_loss: 0.4175 - val_auc: 0.8218 - val_accuracy: 0.8049
Epoch 31/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4280 - auc: 0.8103 - accuracy: 0.7937 - val_loss: 0.4189 - val_auc: 0.8211 - val_accuracy: 0.7976
Epoch 32/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4269 - auc: 0.8111 - accuracy: 0.7945 - val_loss: 0.4187 - val_auc: 0.8217 - val_accuracy: 0.8018
Epoch 33/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4247 - auc: 0.8127 - accuracy: 0.7950 - val_loss: 0.4184 - val_auc: 0.8221 - val_accuracy: 0.8045
Epoch 34/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4258 - auc: 0.8116 - accuracy: 0.7946 - val_loss: 0.4293 - val_auc: 0.8174 - val_accuracy: 0.7945
Epoch 35/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4269 - auc: 0.8114 - accuracy: 0.7955 - val_loss: 0.4187 - val_auc: 0.8220 - val_accuracy: 0.8048
Epoch 36/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4269 - auc: 0.8112 - accuracy: 0.7937 - val_loss: 0.4204 - val_auc: 0.8221 - val_accuracy: 0.7984
Epoch 37/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4270 - auc: 0.8112 - accuracy: 0.7943 - val_loss: 0.4195 - val_auc: 0.8221 - val_accuracy: 0.8025
Epoch 38/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4272 - auc: 0.8109 - accuracy: 0.7945 - val_loss: 0.4222 - val_auc: 0.8221 - val_accuracy: 0.8041
Epoch 39/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4267 - auc: 0.8116 - accuracy: 0.7945 - val_loss: 0.4200 - val_auc: 0.8208 - val_accuracy: 0.7972
Epoch 40/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4269 - auc: 0.8116 - accuracy: 0.7952 - val_loss: 0.4228 - val_auc: 0.8211 - val_accuracy: 0.8025
Epoch 41/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4265 - auc: 0.8118 - accuracy: 0.7949 - val_loss: 0.4195 - val_auc: 0.8213 - val_accuracy: 0.8046
Epoch 42/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4260 - auc: 0.8125 - accuracy: 0.7962 - val_loss: 0.4186 - val_auc: 0.8216 - val_accuracy: 0.7986
Epoch 43/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4256 - auc: 0.8126 - accuracy: 0.7962 - val_loss: 0.4354 - val_auc: 0.8188 - val_accuracy: 0.7925
Epoch 44/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4249 - auc: 0.8129 - accuracy: 0.7955 - val_loss: 0.4186 - val_auc: 0.8214 - val_accuracy: 0.8041
Epoch 45/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4262 - auc: 0.8120 - accuracy: 0.7958 - val_loss: 0.4280 - val_auc: 0.8215 - val_accuracy: 0.7999
Epoch 46/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4261 - auc: 0.8122 - accuracy: 0.7967 - val_loss: 0.4255 - val_auc: 0.8219 - val_accuracy: 0.8049
Epoch 47/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4250 - auc: 0.8133 - accuracy: 0.7963 - val_loss: 0.4246 - val_auc: 0.8199 - val_accuracy: 0.7970
Epoch 48/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4252 - auc: 0.8132 - accuracy: 0.7956 - val_loss: 0.4264 - val_auc: 0.8202 - val_accuracy: 0.7970
Epoch 49/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4259 - auc: 0.8128 - accuracy: 0.7963 - val_loss: 0.4245 - val_auc: 0.8195 - val_accuracy: 0.7954
Epoch 50/50
5376/5376 [==============================] - 30s 6ms/step - loss: 0.4247 - auc: 0.8131 - accuracy: 0.7950 - val_loss: 0.4190 - val_auc: 0.8220 - val_accuracy: 0.8000

**PREDICTION**

In [ ]:
test=pd.read_csv('/content/test.csv')

In [ ]:
test.shape

(105312, 10)

In [ ]:
test.isnull().sum()

ID                         0
Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         12522
Avg_Account_Balance        0
Is_Active                  0
dtype: int64

In [ ]:
test.drop('ID',axis=1,inplace=True)

In [ ]:
categorical_var=['Gender', 'Region_Code', 'Occupation', 'Channel_Code','Credit_Product', 'Is_Active']

In [ ]:
for c in categorical_var :
  test[c] = pd.get_dummies(test[c])

In [ ]:
 test['Credit_Product'].fillna((test['Credit_Product'].mean()),inplace=True)

In [ ]:
test.isnull().sum()

Gender                 0
Age                    0
Region_Code            0
Occupation             0
Channel_Code           0
Vintage                0
Credit_Product         0
Avg_Account_Balance    0
Is_Active              0
dtype: int64

In [ ]:
test.head()

   Gender  Age  Region_Code  ...  Credit_Product  Avg_Account_Balance  Is_Active
0       0   29            0  ...               0               742366          1
1       0   43            0  ...               0               925537          1
2       0   31            0  ...               1               215949          1
3       0   29            0  ...               1               868070          1
4       1   29            0  ...               1               657087          1

[5 rows x 9 columns]

In [ ]:
test=test.to_numpy()

In [ ]:
test=test.reshape(test.shape[0],test.shape[1],1)

In [ ]:
y_pred=model.predict(test)

In [ ]:
y_pred

array([[0.325758  ],
       [0.5029721 ],
       [0.04785087],
       ...,
       [0.11910138],
       [0.11990245],
       [0.04876754]], dtype=float32)

In [ ]:
DF=pd.DataFrame(y_pred)

In [ ]:
DF.to_csv('prediction_CNN2.csv')