
**CREDIT CARD LEAD PREDICTION:** Happy Customer Bank is a mid-sized private bank that deals in all kinds of banking products, like Savings accounts, Current accounts, investment products, credit products, among other offerings. The bank also cross-sells products to its existing customers and to do so they use different kinds of communication like tele-calling, e-mails, recommendations on net banking, mobile banking, etc. In this case, the Happy Customer Bank wants to cross sell its credit cards to its existing customers. The bank has identified a set of customers that are eligible for taking these credit cards. Now, the bank is looking for your help in identifying customers that could show higher intent towards a recommended credit card, given:

- Customer details (gender, age, region etc.)
- Details of his/her relationship with the bank (Channel_Code,Vintage, 'Avg_Asset_Value etc.)

In [119]:
import pandas as pd

In [120]:
train=pd.read_csv('/content/train.csv')

In [121]:
train.head()

         ID  Gender  Age  ... Avg_Account_Balance Is_Active Is_Lead
0  NNVBBKZB  Female   73  ...             1045696        No       0
1  IDD62UNG  Female   30  ...              581988        No       0
2  HD3DSEMC  Female   56  ...             1484315       Yes       0
3  BF3NC7KV    Male   34  ...              470454        No       0
4  TEASRWXV  Female   30  ...              886787        No       0

[5 rows x 11 columns]

In [122]:
train.shape

(245725, 11)

In [123]:
train.isnull().sum()

ID                         0
Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         29325
Avg_Account_Balance        0
Is_Active                  0
Is_Lead                    0
dtype: int64

In [124]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245725 entries, 0 to 245724
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   245725 non-null  object
 1   Gender               245725 non-null  object
 2   Age                  245725 non-null  int64
 3   Region_Code          245725 non-null  object
 4   Occupation           245725 non-null  object
 5   Channel_Code         245725 non-null  object
 6   Vintage              245725 non-null  int64
 7   Credit_Product       216400 non-null  object
 8   Avg_Account_Balance  245725 non-null  int64
 9   Is_Active            245725 non-null  object
 10  Is_Lead              245725 non-null  int64
dtypes: int64(4), object(7)
memory usage: 20.6+ MB

In [125]:
train['Credit_Product'].unique()

array(['No', nan, 'Yes'], dtype=object)

In [126]:
train.columns

Index(['ID', 'Gender', 'Age', 'Region_Code', 'Occupation', 'Channel_Code',
       'Vintage', 'Credit_Product', 'Avg_Account_Balance', 'Is_Active',
       'Is_Lead'],
      dtype='object')

In [127]:
train.drop('ID',axis=1,inplace=True)

In [128]:
categorical_var=['Gender', 'Region_Code', 'Occupation', 'Channel_Code','Credit_Product', 'Is_Active']

In [129]:
for c in categorical_var :
  train[c] = pd.get_dummies(train[c])

In [130]:
train

        Gender  Age  Region_Code  ...  Avg_Account_Balance  Is_Active  Is_Lead
0            1   73            0  ...              1045696          1        0
1            1   30            0  ...               581988          1        0
2            1   56            0  ...              1484315          0        0
3            0   34            0  ...               470454          1        0
4            1   30            0  ...               886787          1        0
...        ...  ...          ...  ...                  ...        ...      ...
245720       0   51            0  ...              1925586          1        0
245721       0   27            0  ...               862952          0        0
245722       1   26            0  ...               670659          1        0
245723       1   28            0  ...               407504          1        0
245724       0   29            0  ...              1129276          1        0

[245725 rows x 10 columns]

In [131]:
 train['Credit_Product'].fillna((train['Credit_Product'].mean()),inplace=True)

In [132]:
train['Credit_Product'].values

array([1, 1, 1, ..., 1, 1, 1], dtype=uint8)

In [133]:
train.isnull().sum()

Gender                 0
Age                    0
Region_Code            0
Occupation             0
Channel_Code           0
Vintage                0
Credit_Product         0
Avg_Account_Balance    0
Is_Active              0
Is_Lead                0
dtype: int64

In [134]:
train['Is_Lead'].value_counts()

0    187437
1     58288
Name: Is_Lead, dtype: int64

In [135]:
train.head()

   Gender  Age  Region_Code  ...  Avg_Account_Balance  Is_Active  Is_Lead
0       1   73            0  ...              1045696          1        0
1       1   30            0  ...               581988          1        0
2       1   56            0  ...              1484315          0        0
3       0   34            0  ...               470454          1        0
4       1   30            0  ...               886787          1        0

[5 rows x 10 columns]

In [136]:
y=train['Is_Lead']

In [137]:
train.drop('Is_Lead',axis=1,inplace=True)

In [138]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=(train_test_split(train,y,test_size=0.30))

In [139]:
X_train.shape

(172007, 9)

In [140]:
X_test.shape

(73718, 9)

In [141]:
Y_train.shape

(172007,)

In [142]:
from xgboost import XGBClassifier

In [143]:
model = XGBClassifier(objective ='binary:logistic',max_depth=8, n_estimators = 1000, learning_rate= 0.025)

In [144]:
model.fit(X_train,Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.025, max_delta_step=0, max_depth=8,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [145]:
model.score(X_train,Y_train)

0.8365299086665078

In [146]:
model.score(X_test,Y_test)

0.817385170514664

In [147]:
test=pd.read_csv('/content/test.csv')

In [148]:
test.shape

(105312, 10)

In [149]:
test.isnull().sum()

ID                         0
Gender                     0
Age                        0
Region_Code                0
Occupation                 0
Channel_Code               0
Vintage                    0
Credit_Product         12522
Avg_Account_Balance        0
Is_Active                  0
dtype: int64

In [150]:
test.drop('ID',axis=1,inplace=True)

In [151]:
categorical_var=['Gender', 'Region_Code', 'Occupation', 'Channel_Code','Credit_Product', 'Is_Active']

In [152]:
for c in categorical_var :
  test[c] = pd.get_dummies(test[c])

In [153]:
 test['Credit_Product'].fillna((test['Credit_Product'].mean()),inplace=True)

In [154]:
test.isnull().sum()

Gender                 0
Age                    0
Region_Code            0
Occupation             0
Channel_Code           0
Vintage                0
Credit_Product         0
Avg_Account_Balance    0
Is_Active              0
dtype: int64

In [155]:
test.head()

   Gender  Age  Region_Code  ...  Credit_Product  Avg_Account_Balance  Is_Active
0       0   29            0  ...               0               742366          1
1       0   43            0  ...               0               925537          1
2       0   31            0  ...               1               215949          1
3       0   29            0  ...               1               868070          1
4       1   29            0  ...               1               657087          1

[5 rows x 9 columns]

In [156]:
y_pred=model.predict(test)

In [157]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [158]:
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

In [159]:
ns_probs = [0 for _ in range(len(Y_test))]
lr_probs = model.predict_proba(X_test)
lr_probs = lr_probs[:, 1]
ns_auc = roc_auc_score(Y_test, ns_probs)
lr_auc = roc_auc_score(Y_test, lr_probs)

print('No Skill: ROC AUC=%.3f' % (ns_auc))
print('Logistic: ROC AUC=%.3f' % (lr_auc))

No Skill: ROC AUC=0.500
Logistic: ROC AUC=0.838

In [160]:
DF=pd.DataFrame(y_pred)

In [162]:
DF.to_csv('predicted1.csv')